body {
    background-color: #E6E6FA; /* Lavender */
    font-family: Arial, sans-serif;
    color: #4B0082; /* Indigo */
}

.kartu-profil img {
    width: 150px;
    border-radius: 50%;
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(75, 0, 130, 0.2); /* Shadow ungu */
    text-align: center;
}
